body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}
.box {
  border-color: #4f772d;
  border-style: solid;
  background-color: #90a955;
  margin: 3rem;
  padding: 3rem;
  border-width: 1rem;
  border-radius: 25%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: green;
}
.bttn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #005f8d;
}
@media (min-width: 768px) {
  #photo-container {
      grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  #photo-container {
      grid-template-columns: 1fr 1fr 1fr;
  }
}